@import 'highlight.js/styles/dark.css';

[dir='ltr'] {
	font-family: Nunito, Roboto, sans-serif;
}

[dir='rtl'] {
	font-family: Vazir, sans-serif;

}
[dir="rtl"] .y-icon {
	transform: scaleX(-1);
}

.y-card {
	overflow: unset;
}

body:has([data-bs-theme='light']),
[data-bs-theme='light'] {
	--border-color: #98b5af;
    --y-bg-surface: #d6e3e2;
    --y-bg-forms: #e6f2f0;
    --y-bg-surface-tertiary: #c2d0d0;
    --y-body-bg: #bec9c9;
}

.component-item,
.page-item,
.table-item {
	background-color: var(--y-bg-surface) !important;
	border-radius: 8px;
	border: 1px solid var(--border-color) !important;
	box-shadow: 0 4px 8px -8px black;
}
.component-item {
	box-shadow: 0 2px 4px -4px black !important;
	background-color: #ffffff20 !important;
}

.component-item.active {
	box-shadow: 0 4px 16px -8px black !important;
	border-color: var(--y-bg-forms) !important;
	background-color: #ffffff30 !important;
}

.component-item,
.page-item:hover,
.table-item:hover {
	box-shadow: 0 4px 16px -8px black;
}

.page-slot {
	box-shadow: 0 2px 8px -4px black !important;
}

.y-code-editor {
	background-color: var(--y-bg-forms) !important;
	border: 1px solid var(--border-color);
}
