h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
h1{
	font-weight: bolder;
	font-size: x-large;
	margin-bottom: 1em;
}
h2{
	font-size: larger;
	margin-bottom: 0.8rem;
}
h3{
	font-size: large;
	margin-bottom: 0.5rem;
}
h4{
	margin-bottom: 0.3rem;
}
h5{
    margin-bottom: 0.2rem;
}
h6{
    margin-bottom: 0.1rem;
}